.game-display-container{
    display:flex;
    flex-direction: column;
    width: 550px;
    height: 300px;
    background-image: url('/floor.png');
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
  }

.topside-display{
    width: 100%;
    height: 31%;
  }
.middleside-display{
  width: 100%;
  height: 69%;
  display: flex;
  flex-direction: row;
}
.chairs-container{
  width: 120px;
  height: 90%;
  margin-top: 3%;
  background-image: url(../../../../public/bardesk.png);
  background-repeat: no-repeat;
  padding-left: 17%;
}
.table-container{
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 5%;
  width: 400px;
  height: 124px;
  margin-top: 2%;
  margin-left: 3%;
}
.table{
  position:inherit;
  width: 60px;
  height: 60px;
  margin: 5px;
  }
.stage{
position:inherit;
margin-left: 220px;
}


@media (max-width: 554px) {
  .game-display-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 145%;
    height: 10%;
    background-image: url('/floor.png');
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
  }

.table-container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 20px;
padding: 5%;
margin-top: 30px;
margin-left: 20%;
width: 400px;
height: 190px;
background-color: #4e260086;
}
.topside-display{
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
  }

.stage{
width: 20%;
height: 60px;
background-color: #5a2c00;
}
.costumer{
    position:inherit;
    width: 35%;
    height: 45%;
    background-color: #000000;
}
.table{
position:inherit;
width: 5%px;
height: 35%;
background-color: #ff7b00;
margin: 2px;
}
}