
.homepage-main{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15rem;
    min-height: 100vh;
    background-color: #c98600;
}
.choice-button{
    width: 150px;
    height: 80px;
    border: #c98600;
    background-color: #FFE1AA;
    margin: 10px;
}