

.homepage-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('/HomepageBackground.png');
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.main-menu{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 60%;
    align-items: center;
}

.main-title{
    font-size: 70px;
    font-family: 'Comic Sans';
}